__pycache__/
*.py[cod]
*$py.class
*.so
.env/
build/
dist/
.eggs/
*.egg-info/
*.egg
*.log
*.tmp
*.pkl
*.csv
*.bin
*.pt
*.ckpt
*.h5
*.onnx
*.npz
*.npy
*.joblib
*.mlmodel
*.pb
*.tflite
*.tfevents.*
.idea/
.vscode/
.mypy_cache/
.pyre/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
/mlruns
/wandb
/models
/results
/finetune
/embeddings